.Rproj.user
.Rhistory
.RData
/r-packages
/README.html
inst/doc
doc
Meta
/vignettes/*_cache
/README_cache
/inst/examples/github-readme_cache
/vignettes/asciicast-demo_files
/src/*.o
/src/rem
/src/rem.exe
/docs
/vignettes/asciicast-demo.html
